Source: mercurial
Section: devel
Priority: optional
Maintainer: Vincent Danjean <Vincent.Danjean@ens-lyon.org>
Build-Depends: debhelper (>= 4.2.0), quilt, patchutils (>= 0.2.25), cdbs (>= 0.4.27-1), python-dev, xmlto, asciidoc
Standards-Version: 3.6.2

Package: mercurial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Recommends: kdiff3 | tkdiff | rcs, tk8.4 | wish
Suggests: meld, commit-tool
Description: Scalable distributed version control system
 Mercurial is a fast, lightweight Source Control Management system designed
 for efficient handling of very large distributed projects.
 .
 Its features include:
  * O(1) delta-compressed file storage and retrieval scheme
  * Complete cross-indexing of files and changesets for efficient exploration
    of project history
  * Robust SHA1-based integrity checking and append-only storage model
  * Decentralized development model with arbitrary merging between trees
  * High-speed HTTP-based network merge protocol
  * Easy-to-use command-line interface
  * Integrated stand-alone web interface
  * Small Python codebase
 .
  Homepage: http://www.selenic.com/mercurial/
