# mercurial configuration file for upstream hg extensions
# See hgrc(5) for more information

[extensions]

# add the 'view' command. It shows the repository history graphically.
hgext/hgk=

# add the 'bisect' command to allow dichotomic search in the DAG of changesets
hgext/hbisect=

# add the 'sign' and 'sigcheck' commands to manage signatures
hgext/gpg=

# add filters so automatically convert end-of-line between Windows and Unix
# world. Not enabled by default since it seems better to do it per
# repository.
# hgext/win32text=

# manage a queue of patches, like quilt only better
hgext/mq=

# send changes as series of email patches
hgext/patchbomb=

# create a graph showing who changed the most lines
hgext/churn=
