#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

clean::
	# Keep current mercurial version
	# (must be done BEFORE the *.mk includes)
	cp -a mercurial/__version__.py mercurial/__version__.py.save

DEB_PYTHON_SYSTEM=pysupport
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk
DEB_INSTALL_DOCS_ALL=

# These part must be run between dh_install and dh_pysupport
# So, they must be defined BEFORE including python-distutils.mk
binary-install/mercurial::
	pysupport-movemodules debian/mercurial
	# remove arch-independent python stuff
	rm -rf $(CURDIR)/debian/mercurial/usr/share/python-support

binary-install/mercurial-common::
	pysupport-movemodules debian/mercurial-common
	# remove arch-dependent python stuff
	rm -rf $(CURDIR)/debian/mercurial-common/usr/lib/python-support
	rmdir --ignore-fail-on-non-empty $(CURDIR)/debian/mercurial-common/usr/lib

include /usr/share/cdbs/1/class/python-distutils.mk


binary-install/mercurial::
	# Install bash autocompletion.
	install -m 644 \
		contrib/bash_completion \
		$(CURDIR)/debian/mercurial/etc/bash_completion.d/mercurial
	
	# Install system-wide conffiles
	echo "# system-wide mercurial configuration file" \
		>  $(CURDIR)/debian/mercurial/etc/mercurial/hgrc
	echo "# See hgrc(5) for more information" \
		>>  $(CURDIR)/debian/mercurial/etc/mercurial/hgrc
	install -m 644 \
		contrib/mergetools.hgrc \
		$(CURDIR)/debian/mercurial/etc/mercurial/hgrc.d/mergetools.rc
	
	# Symlink docs
	rm -rf $(CURDIR)/debian/mercurial/usr/share/doc/mercurial
	ln -s mercurial-common $(CURDIR)/debian/mercurial/usr/share/doc/mercurial

build/mercurial:: mercurial/__version__.py

build/mercurial-common::
	$(MAKE) -C doc man

clean::
	$(MAKE) clean
	# Restoring the version file saved at the begining of the clean
	mv mercurial/__version__.py.save mercurial/__version__.py
	$(RM) -rv tmp/

mercurial/__version__.py:
	@echo "$@ is missing (you probably call 'make clean' directly)."
	@echo "Restore it from sources before building the package"
	@echo "Aborting."
	exit 1
